p {
    margin: 0;
}
hr {
    width: 60vw;
    height: 1px;
    background-color: rgb(234, 238, 219);
    border: none;
    position: relative;
    left: -30px;
}

@mixin sidebarBackgorund {
    background-color: rgb(234, 238, 219);
}

@mixin basicSidebarStyle {
    @include sidebarBackgorund;

    min-width: 355px;

    height: 100vh;
    // width: 25vh;
    width: 25%;

    backdrop-filter: blur(10px);
    // filter: blur(10px);
    position: fixed;
    top: 0;
    // right: 0;

    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
}

@mixin sidebarStyle {
    @include basicSidebarStyle;
    right: 0;
}

@mixin leftSidebarStyle {
    @include basicSidebarStyle;
    left: 0;
}

@mixin widgetRadius {
    border-radius: 5px;
}

// 
.searchContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;
    width: 100vw;

    .miniHeader{
        position: inherit;
    }
    .fullHeader {
        position: sticky;
    }

    .header {
        z-index: 1;
        // position: sticky;
        top: 0;
        background-color: rgb(238, 238, 238);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;

        .logo {
            margin-top: 10px;
            margin-left: calc(100vw / 13);
            width: 30%;
            min-width: 50px;

        }

        .searchBar {
            margin-top: 30px;
            margin-bottom: 30px;
            grid-column: 2/3;
            justify-self: center;

            #searchBarItem {



                width: 30vw;
                min-width: 120px;


                border: 2px solid black;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

                /*  */
                input {
                    bottom: 0px;
                    border: 0px;
                    background: none;
                    width: 80%;
                    margin: 2px 7px;
                    font-size: 18px;

                }

                input:focus {
                    outline: none;
                }

                .searchBtn {
                    width: 20px;
                    position: absolute;
                    right: 1%;
                    bottom: 1%;
                    background: transparent;
                    border: none;
                }


            }
        }

    }

    .main {
        margin: 7% 0 1% 0;
        align-self: center;
        // border: 1px solid black;

        width: 75%;

        .contentsContainer {
            display: flex;
            flex-direction: column;
            gap: 7px;

            .content {
                margin: 10px 0;

                .title {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 800;
                    font-size: 25px;

                    // line-height: 36px;
                    .bookmarkBtns {
                        margin-left: 15px;
                        width: 15px;
                        background: transparent;
                        border: none;
                    }
                }

                .text {
                    margin: 7px 0;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    // line-height: 36px;
                }
            }

        }
    }

    .leftSidebarContainer {
        position: fixed;

        width: 40px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;

        z-index: 3;
        // background-color: gray;


        .sidebarBtns {
            position: absolute;
            top: 30%;

            z-index: 2;

            width: 30px;
            height: 30px;

            #btn {
                width: 30px;
                height: 30px;
                background: transparent;
                border: none;
            }

            :hover {
                cursor: pointer;
            }
        }

        .leftSidebar {

            @include leftSidebarStyle;

            .leftSidebarWidgetContainer {
                // width: 300px;
                height: 95%;
                display: grid;
                justify-content: center;

                gap: 10px;
                // grid-template-columns: repeat(2, 1fr);
                grid-template-columns: repeat(auto-fill, minmax(130px, 130px));

                margin: 20% 0;


                display: grid;
                overflow-y: scroll;
                grid-template-columns: repeat(2, 120px);
                grid-template-rows: repeat(auto-fill, minmax(120px, 120px));
                gap: 10px;

                .widget {
                    border: 1px solid black;
                    width: 118px;
                    height: 118px;
                    @include widgetRadius;
                }
            }
        }


    }

    .rightSidebarContainer {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;

        position: fixed;

        width: 40px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;

        z-index: 3;
        // background-color: gray;

        .sidebarTooltip {
            position: fixed;
            top: 30%;
            height: 165px;
            width: 100px;
            // background-color: green;
            position: fixed;
            right: 50px;

            p {
                margin: 0;
                font-family: 'Inter';
                font-style: normal;
                text-align: right;
                font-weight: 800;
                font-size: 16px;
                line-height: 23.5px;

                right: 0;
                position: absolute;
            }

            #m {
                // top: 32.7%;

                top: 7%;
            }

            #l {
                top: 28.5%;
            }

            #b {
                top: 60%;
            }

            #w {
                top: 81%;
            }
        }

        .sidebarBtns {
            position: absolute;
            top: 30%;

            // rightSidebarContainer 에 onMouseEnter 이벤트 발생한 상황에서, 해당 버튼으로 마우스가 올라가면,
            // rightSidebarContainer 의 onMouseLeave 이벤트가 발생하게 되므로, z-index 를 통해 버튼이 컨테이너 위에 위치하도록 함.
            z-index: 2;

            width: 30px;
            height: 30px;
            // position: absolute;
            // top: 30%;
            // right: 50%;

            #btn {
                width: 30px;
                height: 30px;
                background: transparent;
                border: none;
            }

            :hover {
                cursor: pointer;
            }
        }

        .sidebarExtendedContainer {
            position: fixed;
            top: 30%;
            width: 30px;
            border-radius: 10px;
            background-color: #000000;
            display: flex;
            flex-direction: column;
            align-items: center;


            button {
                border: 1px solid black;
            }

            p {
                margin: 0;
                font-family: 'Inter';
                font-style: normal;
                text-align: center;
                font-weight: 800;
                font-size: 17px;
                line-height: 23.5px;
            }

            .upperSection {
                margin-top: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;

                button {
                    margin: 5px 0;
                    border-radius: 7px;
                    width: 25px;
                    height: 25px;
                    background: rgb(245, 245, 245);
                }
            }

            .middleSection {
                .separator {
                    border-radius: 3px;
                    margin: 6px 0;
                    height: 4px;
                    width: 25px;
                    background-color: rgb(245, 245, 245);
                }
            }

            .lowerSection {

                margin-bottom: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;

                button {
                    margin: 5px 0;
                    border-radius: 7px;
                    width: 25px;
                    height: 25px;
                    background: rgb(245, 245, 245);
                }
            }
        }

        .rightSidebar {
            @include sidebarStyle;

            .sidebarText {
                @include sidebarBackgorund;
                // width: 100%;
                position: sticky;
                top: 0;
                font-family: 'Inter';
                font-style: normal;
                text-align: center;
                font-weight: 800;
                font-size: 18px;
                line-height: 36px;

                color: #000000;

                margin-top: 7%;
            }

            .widget {
                margin-bottom: 9%;

                display: grid;
                grid-template-columns: repeat(2, 120px);
                grid-template-rows: repeat(5, 120px);
                gap: 10px 10px;

                * {
                    @include widgetRadius;
                }

                :nth-child(1) {
                    grid-row: 1 / 2;
                    grid-column: 1 / 3;
                    background-color: yellow;
                }

                :nth-child(2) {
                    grid-row: 2 / 4;
                    grid-column: 1 / 3;
                    background-color: blue;
                }

                :nth-child(3) {
                    grid-row: 4 / 5;
                    grid-column: 1 / 2;
                    background-color: black;
                }

                :nth-child(4) {
                    grid-row: 4 / 6;
                    grid-column: 2 / 3;
                    background-color: green;
                }

                :nth-child(5) {
                    align-self: center;
                    justify-self: center;
                    grid-row: 5 / 6;
                    grid-column: 1 / 2;
                    width: 80%;

                }
            }

            .bookmark {
                width: 80%;
                // border: 1px solid red;
                display: flex;
                flex-direction: column;

                section {
                    // border: 1px solid blue;
                    border-bottom: 1px solid black;
                    margin: 13px 0;

                    div {
                        display: flex;
                        flex-direction: row;
                    }

                    #title {
                        margin: 0;
                        font-family: 'Inter';
                        text-align: left;
                        font-weight: 800;
                        font-size: 20px;
                        line-height: 23.5px;

                        width: 70%;
                    }

                    #btn {

                        margin-left: 30px;
                        border-radius: 15px;
                        border: 1px solid #000000;
                        background-color: #000000;
                        color: rgb(245, 245, 245);

                        width: 35px;
                        height: 20px;

                        font-family: 'Inter';
                        text-align: center;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 19.5px;

                    }

                    #memo {
                        width: 95%;
                        margin-left: 5px;
                        margin-right: 5px;
                        font-family: 'Inter';
                        text-align: left;
                        font-weight: 400;
                        font-size: 12px;

                    }

                    #url {
                        width: 95%;
                        margin-left: 5px;
                        margin-right: 5px;
                        font-family: 'Inter';
                        text-align: left;
                        font-weight: 400;
                        font-size: 14px;
                    }
                }

            }
        }
    }
}