p {
  margin: 0;
}

a {
  text-align: center;
  text-decoration: none;
  color: inherit;
}

hr {
  width: 60vw;
  height: 1px;
  background-color: rgb(234, 238, 219);
  border: none;
  position: relative;
  left: -7vw;
  margin-top: 3vh;
}

@mixin sidebarBackgorund {
  background-color: rgb(234, 238, 219);
}

@mixin basicSidebarStyle {
  @include sidebarBackgorund;

  min-width: 355px;

  height: 100vh;
  // width: 25vh;
  width: 25%;

  backdrop-filter: blur(7px);
  // filter: blur(10px);
  position: fixed;
  top: 0;
  // right: 0;

  display: flex;
  flex-wrap: nowrap;
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
}

@mixin sidebarStyle {
  @include basicSidebarStyle;
  right: 0;
}

@mixin leftSidebarStyle {
  @include basicSidebarStyle;
  left: 0;
}

@mixin widgetRadius {
  border-radius: 5px;
}

//
.searchContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100vh;
  width: 100vw;

  // .miniHeader {
  //   position: inherit;
  // }

  // .fullHeader {
  //   position: sticky;
  // }

  .header {
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: rgb(238, 238, 238);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    .logo {
      margin-top: 10px;
      margin-left: calc(100vw / 13);
      width: 30%;
      min-width: 50px;
    }

    .searchBar {
      margin-top: 30px;
      margin-bottom: 30px;
      grid-column: 2/3;
      justify-self: center;

      #searchBarItem {
        width: 30vw;
        min-width: 120px;

        border: 2px solid black;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        /*  */
        input {
          bottom: 0px;
          border: 0px;
          background: none;
          width: 80%;
          margin: 2px 7px 3px 7px;
          font-size: 16px;
        }

        input:focus {
          outline: none;
        }

        .searchBtn {
          width: 20px;
          position: absolute;
          right: 1%;
          bottom: 1%;
          background: transparent;
          border: none;
        }
      }
    }
  }

  .main {
    margin: 2% 0 1% 0;
    align-self: center;
    // border: 1px solid black;

    width: 70%;

    .contentsContainer {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .site-box {
        display: flex;
        flex-direction: column;
        gap: 7px;

        .siteNameContainer {
          align-self: flex-end;
          // naver background-color: rgb(230, 248, 203);
          // google background-color: rgb(244, 244, 244);

          border-radius: 15px;

          width: 100%;
          .siteName {
            font-family: "Inter";
            font-style: normal;
            font-weight: 800;
            font-size: 35px;
            font-style: italic;
            text-align: right;
            align-self: end;
            margin: 0 15px 0 0;
          }
        }

        .item {
          margin: 2% 0 2% 0;

          .title {
            display: flex;
            font-family: "Inter";
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            margin-bottom: 5%;

            // line-height: 36px;
            .bookmarkBtns {
              margin-left: 15px;
              width: 15px;
              background: transparent;
              border: none;
            }

            .icon {
              margin-right: 15px;
              height: 18px;
              width: 18px;
            }

            .titleLink {
              text-align: start;
            }
            .titleLink:hover {
              animation: grow 0.2s forwards;
              text-align: start;
            }

            @keyframes grow {
              0% {
                scale: 1;
              }

              100% {
                scale: 1.03;
              }
            }
          }

          .content-container {
            margin: 10px 0;

            .text {
              margin: 7px 0;
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
              // line-height: 36px;
            }
          }
        }
      }
    }
  }

  .leftSidebarContainer {
    position: fixed;

    width: 40px;
    height: 100vh;
    top: 0;
    left: 0;

    z-index: 3;
    // background-color: gray;

    .sidebarBtns {
      position: absolute;
      top: 30%;

      z-index: 2;

      width: 30px;
      height: 30px;

      #btn {
        width: 30px;
        height: 30px;
        background: transparent;
        border: none;
      }

      :hover {
        cursor: pointer;
      }
    }

    .leftSidebar {
      @include leftSidebarStyle;

      .leftSidebarWidgetContainer {
        width: 300px;
        height: 95%;
        display: grid;
        justify-content: center;

        gap: 10px;

        margin: 20% 0;

        display: grid;
        overflow-y: scroll;
        grid-template-columns: repeat(auto-fill, minmax(110px, 110px));
        grid-auto-flow: dense;

        .m-widget {
          border: 1px solid rgb(146, 161, 155);
          margin: 0;
      
          border-radius: 7px;
      
          display: flex;
          flex-direction: column;

          .basic-info {
            border-bottom: 0.5px dotted black;
            display: flex;
            flex-direction: column;
            width: inherit;

            :last-child {
              margin-bottom: 10px;
            }

            #title {
              font-family: "Inter";
              font-style: normal;
              font-weight: 800;
              font-size: 15px;
              line-height: 23.5px;
              text-align: left;
              margin: 5px 0 0px 7px;
            }

            #memo {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: 11px;
              line-height: 19.5px;
              text-align: left;
              margin: 0 5px 3px 7px;
            }

            #url {
              display: none;
            }

            .inner-w {
              word-wrap: break-word;
            }
           
          }
          .shot-info {
            justify-self: center;
            align-self: center;
            margin: 6% 0;
            height: 71%;
            width: 93%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2%;
            overflow: hidden;
            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}

.contentsModal {
  z-index: 10;
  position: fixed;
  width: 500px;
  height: 500px;
  top: calc(50vh - 250px);
  left: calc(50vw - 250px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(7px);
  border-radius: 20px;

  .typing-ani {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    color: black;
    font-style: italic;
  }

  .cursor {
    position: relative;
    right: 7px;

    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    font-size: 35px;
    color: black;
    animation: flicker 1s ease infinite;
  }

  @keyframes flicker {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
