@mixin inputBasic {
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid black;
}

p {
    margin: 0;
}

.pointer {
    cursor: pointer;
}

// 

.site-is-empty {
    animation: twinkle 0.5s ease infinite;
    
}

@keyframes twinkle {
    0% {
        opacity: 100;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.succeedChecker {
    width: 15vw;
    height: 15vw;
    position: fixed;
    top: 30%;
    animation: doom 2.1s linear;
}

@keyframes doom {
    0% {
        width: 15vw;
        height: 15vw;
    }

    5% {
        width: 20vw;
        height: 20vw;
    }

    70% {
        width: 15vw;
        height: 15vw;
    }

    100% {
        opacity: 0;
        width: 13vw;
        height: 13vw;
    }
}

.modalContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(200, 200, 200, 0.1);
    backdrop-filter: blur(7px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .modal {
        border-radius: 20px;
        background-color: rgb(239, 239, 239);
        width: 45vw;
        height: 45vh;
        max-width: 400px;
        max-height: 400px;
        min-width: 300px;
        min-height: 300px;

        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;

        // basic setting
        input {
            @include inputBasic;
            width: 210px;
            padding: 0 5px 3px 5px;
        }

        input:focus {
            outline: none;
        }

        .btns {
            display: flex;
            flex-direction: row;

            gap: 5px;

            .btn {
                background-color: black;
                border: 1px solid #000000;
                color: white;
                border-radius: 15px;
                width: 45px;
                height: 22px;


                p {
                    margin-top: 1.5px;
                    font-family: 'Inter';
                    text-align: center;
                    font-weight: 500;
                    font-size: 11px;
                }
            }
        }
    }
}

//

.mypageContainer {


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;




    .header {
        margin-top: 5%;

        .logo {
            margin-bottom: 30px;
            min-width: 100px;
            max-width: 155px;
            width: 15vw;
        }
    }

    .main {
        min-width: 131px;



        .info {
            gap: calc(100vh / 20);
            display: flex;
            flex-direction: column;
            align-items: center;

            #title {
                grid-column: 1 / 3;
                font-family: 'Inter';
                font-style: normal;
                text-align: left;
                font-weight: 800;
                font-size: 25px;
            }

            .picInfos {
                height: 27vh;

                .circle {
                    flex-direction: column;

                    border: 1px solid black;
                    height: calc(100vh / 4);
                    width: calc(100vh / 4);
                    min-width: 200px;
                    min-height: 200px;
                    max-width: 250px;
                    max-height: 250px;
                    border-radius: 50%;

                    #pic {
                        border-radius: 50%;
                        height: 100%;
                        width: 100%;
                    }

                }

                .imgMouseOver {
                    margin-top: 1.5px;
                    font-family: 'Inter';
                    text-align: center;
                    font-weight: 500;
                    font-size: 15px;
                    width: 15%;
                    position: relative;
                    left: calc(50% - 15px);

                    animation: dropDown 100ms linear;
                }

                @keyframes dropDown {
                    0% {
                        transform: translateY(-100%);
                        z-index: -1;
                    }

                    100% {
                        transform: translateY(0);
                        z-index: 2;
                    }
                }

                #file {
                    display: none;
                }
            }

            .nickAndMail {
                display: flex;
                flex-direction: column;
                align-self: end;
                gap: 5px;

                height: 50px;


                .edit {
                    margin-right: 10px;
                    background: black;
                    border: none;
                    width: 30px;
                    height: 17px;
                    border-radius: 10px;

                    p {
                        font-family: 'Inter';
                        font-style: normal;
                        text-align: center;
                        font-weight: 500;
                        font-size: 11px;
                        margin-top: 2px;
                        color: rgb(245, 245, 245);
                    }
                }

                .changeContainer {
                    position: relative;

                    .loading {
                        position: absolute;
                        right: -22px;
                        bottom: 0;
                        height: 20px;
                        width: 16px;
                        display: flex;
                        flex-direction: row;
                        gap: 2px;

                        svg {
                            width: 4px;
                            animation: fThing 0.6s linear infinite;
                        }


                        :nth-child(2) {
                            animation-delay: 0.1s;
                        }

                        :nth-child(3) {
                            animation-delay: 0.3s;
                        }

                        @keyframes fThing {
                            0% {
                                transform: translateY(0);
                            }

                            20% {
                                transform: translateY(-2px);
                            }

                            40% {
                                transform: translateY(0px);
                            }

                            80% {
                                transform: translateY(2px);
                            }

                            100% {
                                transform: translateY(0);
                            }
                        }

                    }

                }

                .input {
                    @include inputBasic;
                    border-bottom: 1px solid black;
                    padding: 0 17px 0 5px;
                    font-family: 'Inter';
                    font-style: normal;
                    text-align: left;
                    font-weight: 500;
                    font-size: 14px;
                    margin-top: 2px;
                    width: 150px;

                }

                .input:focus {
                    outline: none;
                }


                .submitBtn {
                    background: transparent;
                    border: none;
                    position: absolute;
                    right: 0;
                    bottom: 1px;
                    width: 15px;
                    height: 15px;

                    svg {
                        width: 10px;
                        height: 10px;
                    }
                }
            }

            #nick {
                font-family: 'Inter';
                font-style: normal;
                text-align: right;
                font-weight: 800;
                font-size: 20px;

            }

            #mail {
                font-family: 'Inter';
                font-style: normal;
                text-align: right;
                font-weight: 400;
                font-size: 13px;
                line-height: 30px;
            }
        }

        .cancelBtn {
            position: relative;
            top: 2.5px;
            right: 4px;
            background: transparent;
            border: none;

            svg {
                width: 13px;
            }
        }

        .sites {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            // background-color: blue;
            width: 100%;

            .lastBox {
                border: 1px solid white;
                height: 39px;
            }

            .eachBox {
                border: 1px solid black;
                height: 39px;
            }

            .box {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                gap: 50px;
                width: 180px;

                svg {
                    width: 100px;

                }

                .minusBtn {
                    margin-left: 5px;
                }

                #addInput {
                    margin-left: 7px;
                    width: 98px;
                    outline: none;
                    border: 1px solid black;
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    font-size: 12px;

                }

                .totalBtns {
                    border: 1px solid #000000;
                    background-color: white;
                    color: black;

                    width: 20px;
                    height: 20px;

                    font-family: 'Inter';
                    text-align: center;
                    font-weight: 200;
                    font-size: 22px;
                    line-height: 21px;

                }

            }


            .dropDown {
                z-index: 1;
                background-color: antiquewhite;
                position: relative;
                top: -10px;
                left: 5px;
                width: 120px;
                min-height: 10px;

                border: 1px solid black;
                display: flex;
                flex-direction: column;
                gap: 2px;

                .dropDownItemBtns {
                    background: transparent;
                    border: none;

                    svg {
                        height: 40px;
                        margin-right: 10px;

                    }

                }

                #empty {
                    font-family: 'Inter';
                    font-style: normal;
                    text-align: left;
                    font-weight: 300;
                    font-size: 14px;
                    margin: 8px;

                }
            }

            .lastGrp {
                height: 41px;
            }
        }

        .dangerZone {
            width: 100%;

            #title {
                grid-column: 1 / 4;
                margin-bottom: 10px;
            }

            .part {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                border: 1px solid red;
                height: 70px;
                width: 100%;



                .btns {
                    background-color: black;
                    border: 1px solid black;
                    height: 30px;
                    width: 100px;
                    margin: 10px;

                    font-family: 'Inter';
                    text-align: center;
                    font-weight: 800;
                    font-size: 12px;
                    line-height: 21px;
                    color: rgb(245, 245, 245);
                    border-radius: 15px;

                }
            }
        }
    }
}