@mixin sidebarBackgorund {
  background-color: rgb(234, 238, 219);
}

@mixin widgetRadius {
  border-radius: 5px;
}

@mixin sidebarStyle {
  @include sidebarBackgorund;

  min-width: 355px;

  height: 100vh;
  // width: 25vh;
  width: 25%;

  backdrop-filter: blur(7px);
  // filter: blur(10px);
  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  flex-wrap: nowrap;
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
}

* > .pointer {
  cursor: pointer;
}

* {
  list-style-type: none;
}

* {
  padding: 0;
}

.rightSidebar {
  @include sidebarStyle;
  .sidebarText {
    @include sidebarBackgorund;
    width: 100%;
    position: sticky;
    top: 0;

    font-family: "Inter";
    font-style: normal;
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    line-height: 50px;

    color: #000000;

    margin-top: 7%;
    margin-bottom: 7%;
  }

  .r-widget {
    margin-bottom: 9%;

    display: grid;
    grid-template-columns: repeat(2, 120px);
    grid-template-rows: repeat(5, 120px);
    gap: 10px 10px;
    justify-content: center;

    * {
      @include widgetRadius;
    }

    #oneTwo {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
      background-color: yellow;
    }

    #twoTwo {
      grid-row: 2 / 4;
      grid-column: 1 / 3;
      background-color: blue;
    }

    #oneOne {
      grid-row: 4 / 5;
      grid-column: 1 / 2;
      background-color: black;
    }

    #twoOne {
      grid-row: 4 / 6;
      grid-column: 2 / 3;
      background-color: green;
    }

    :last-child {
      align-self: center;
      justify-self: center;
      grid-row: 5 / 6;
      grid-column: 1 / 2;
      width: 80%;
    }
  }
}
