.mainContainer {

    display: grid;
    grid-template-columns: minmax(375px, 100vw);
    grid-template-rows: minmax(120px, 20vh) 80vh;
}

.mainContainer>.header {
    border: 5px solid black;
    justify-self: center;


}

.mainContainer>.main {
    border: 5px solid black;
    display: grid;
    grid-template-columns: repeat(6, 16.66666%);
    grid-template-rows: repeat(4, 25%);

}

.mainContainer>.main>.searchBar {
    grid-column: 1 / span 6;
    border: 5px solid black;

    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
    /*  */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    max-height: 100%;

}

.mainContainer>.main>.searchBar>section {

    flex-grow: 1;
    margin: 0 110px;
    min-width: 300px;
    max-width: 500px;
    max-height: 100%;




}

.mainContainer>.main>.searchBar>div>input {
    border: 0px;
    background: none;
    width: 88%;
    height: 97%;
    margin: 0 7px;

    justify-self: start;
}

.mainContainer>.main>.searchBar>div>input:focus {
    outline: none;
}

.mainContainer>.main>.searchBar>div {
    background: url(../../../../resources/img/main/searchBtn.svg) no-repeat;
    background-position: center right 1%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 110px;
    min-width: 300px;
    max-width: 500px;
    height: 30px;
    border: 2px solid black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    /* 2 */





}

/*  */


